*{
	margin:0;
	padding:0;
}
.img{
	margin: 10px;
	border-radius: 80%;
	float: left;
}
.cptop{
	color:#33658a;
	font-size:70px;
	font-family: Ink Free;
	letter-spacing: 2.5px;
	position: relative;
	top:25px;
	/*left:320px;*/
}
.clearfix::after{
	content: "";
	clear:both;
	display: table;
}
.top{
	background-color: #ddedaa;
}
ul{
	text-align:center;
	list-style:none;
}
li{
	display: inline-block;
	padding: 15px;
	margin: 4px;
	color:white;
	font-family:sans-serif;
	letter-spacing: 5px;
	word-spacing: 5px;
}
.zoom{
    background-color: #A8A8A8;
    transition: transform .2s;
    width: 250px;
    height: 250px;
    border-radius:80%;
    text-align:center;
    font-size: 40px;
    font-family: forte;
    margin-top: 60px;
    opacity:0.6;
}
.l{
	float: left;
	margin-left:480px;
}
.r{
	float: right;
	margin-right:480px;
}
a{
	text-decoration: none;
	color: #303030;
}
h2{
	margin-top:80px;
}
.zoom:hover {
    transform: scale(1.5);
    border-radius: 80%;
    background-color: #A8A8A8;
    opacity:1;
    cursor: pointer;
}
.rua{
	text-align: center;
	padding-top: 40px;
	font-family: forte;
	font-size: 70px;
	color: white;
}
.bgimage{
	background: url("images/bg6.jpg") no-repeat top center;
	background-size: cover;
 	position: relative;
  	height: 754px;
}
/*
A8A8A8 grey
faf65b yellow
d35400 brown
E8E8E8 light grey
303030 dark grey
0F9095 blue
11ABB0 sky blue
ddedaa light green
33658a navy blue
