*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.img{
  margin: 10px;
  border-radius: 80%;
  float: left;
}
.cptop{
  color:#33658a;
  font-size:70px;
  font-family: Ink Free;
  letter-spacing: 2.5px;
  position: relative;
  top:25px;
}
.clearfix::after{
  content: "";
  clear:both;
  display: table;
}
body{
  background-color: #ebebeb;
}
.top{
  background-color: #ddedaa;
}
ul{
  text-align:center;
  list-style:none;
}
li{
  display: inline-block;
  padding: 15px;
  margin: 4px;
  color:white;
  font-family:sans-serif;
  letter-spacing: 5px;
  word-spacing: 5px;
}
.login{
  padding-top: 20px;
}
.loginbut{
  font-family: Comic Sans MS;
  font-size: 16px;
  color: white;
  outline: none;
  border: none;
  padding: 15px;
  width: 150px;
  height: 55px;
  background-color: #33658a;
  border-radius: 27px;
  transition: 0.4s;
}
.loginbut:hover {
  background-color: green;  
  cursor:pointer;
}
.div {
  height: 610px;
  width: 300px;
  padding:14px;
  background: white;
  border-radius: 10px;
  position: relative;
}
.al {
  font-family: Comic Sans MS;
  font-size: 28px;
  color: #555555;
  padding-bottom: 8px;
  /*padding-top: 3px;*/
  text-align: center;
}
.field {
  font-family: Comic Sans MS;
  font-size: 13px;
  color: #555555;
  padding-top: 8px;
}
.text{
  font-family: Comic Sans MS;
  color: #555555;
  font-size: 12px;
  display: block;
  width: 100%;
  height: 25px;
  padding: 10px;
}
.text2{
  font-family: Comic Sans MS;
  color: #555555;
  font-size: 12px;
  width: 100%;
  height: 25px;
}
.hello{
  width: 100%; 
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgimage{
  background: url("images/bg6.jpg") no-repeat top center;
  background-size: cover;
  position: relative;
  height: 900px;
}
.error{
  color: red;
}
